
<!-- Slider start -->
<div class="slider">
    <img ng-repeat="slide in slides" class="slide"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Slider end -->


<!-- Summary start -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="favouriteExperiences">
                <h2>Some of our most popular experiences</h2>
                <p>
                    There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
                </p>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="group in events | group:3" id="events">
        <div class="col-md-4" ng-repeat="event in group">
            <div class="favouriteItem">
                <!-- Todo: The url for the image is crazy nested. Unnest it. -->
                <img src="{{event.event_image.event_image.large_scaled.url}}" alt="" class="img-responsive"/>
                <h4><a ng-href="/{{'#/events/' + event.id }}">{{ event.event_name }}</a></h4>
                In <strong>{{event.city}}</strong>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4" ng-repeat="event in popularEvents">
            <div class="favouriteItem">
                <img src="/assets/summaryImageFillers/download%20(3).jpg" alt="" class="img-responsive"/>
                <img src="/assets/summaryImageFillers/hostPic-Trimmed.jpg" alt="" class="img-responsive img-circle hostPic"/>
                <h4><a href="#">{{ event.name }}</a></h4>
                In <strong>Hyderabad</strong>
            </div>
        </div>
    </div>
</div>
<!-- Summary end -->

<!-- Host experience highlight section start -->
<div class="experienceSample">
    <img src="/assets/sliderFillerImages/download.jpg" alt=""/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="keyHostSale">
                    <img src="/assets/summaryImageFillers/hostPic-Trimmed.jpg" alt="" class="img-responsive img-circle "/>
                    <h2>Some talking point from a host</h2>
                    <h4>Meet <a href="#">Jane Doe from Company name</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Host experience highlight section end -->