<div class="container">

    <div class="row">
        <div class="col-md-12">

        </div>
        <div class="eventPage">
            <div class="row">
                <div class="col-md-8">
                    <div class="mainContent">
                        <!-- Todo: Change this to the actual image url. This is just a filler image -->
                        <!--
                        <img src="https://s3.amazonaws.com/letsdine/uploads/event/event_image/111/large_scaled_tech_talks.jpg" alt=""/>
                        -->
                        <!--<h1>{{event.event_image.event_image.url}}</h1>-->
                        <h4>{{ event.event_name }}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="eventSubDetailsContainer">
                        <div class="eventSubDetails">
                            <h4>{{event.event_name}}</h4>
                            <p class="eventPrice">Rs {{event.price}}</p>
                            Event Date: 22 January 2013
                            Seats
                            <select name="" id="" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
