<div class="container">
  <div class="row">
    <div class="col-md-12 newEventPage expandable-panel" id="cp-2">
      <div class="newEventSummary">
        <h4>
          <div class="initialHeader">
            <span class="step">2</span>
            <span class="text">Fill In The Event Date and Time</span>
          </div>
          <div class="successHeader">
            <span><i class="icon-ok-sign finished"></i></span>
            <span class="text">Event Date and Time Completed</span>
            <a href="#" class="pull-right">Modify Event Date and Time</a>
          </div>
        </h4>
      </div>

      <div class="expandable-panel-content">
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-info" id="dateTimeAlert">
                  <strong>Event timing:</strong>
                  Your event will be conducted on <strong id="infoDate"></strong> at <strong id="infoTime"></strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">

                <%= f.hidden_field :event_date %>
                <div id="calendar"></div>


              </div>
              <div class="col-md-6">
                <%= f.hidden_field :event_time %>

                <div class="timeHeader" id="showDate">
                  Monday, 23 September 2013
                </div>
                <div class="timeSubHeader">
                  Morning & Afternoon
                </div>
                <table class="timeTable" id="morning">
                  <tr>
                    <td>09:00</td>
                    <td>09:30</td>
                    <td>10:00</td>
                    <td>10:30</td>
                  </tr>
                  <tr>
                    <td>11:00</td>
                    <td>11:30</td>
                    <td>12:00</td>
                    <td>12:30</td>
                  </tr>
                </table>
                <div class="timeSubHeader">
                  Evening
                </div>
                <table class="timeTable" id="evening">
                  <tr>
                    <td>04:00</td>
                    <td>04:30</td>
                    <td>05:00</td>
                    <td>05:30</td>
                    <td>06:00</td>
                    <td>06:30</td>
                    <td>07:00</td>
                    <td>07:30</td>
                  </tr>
                  <tr>
                    <td>08:00</td>
                    <td>08:30</td>
                    <td>09:00</td>
                    <td>09:30</td>
                  </tr>
                </table>
                

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="#" class="btn btn-primary nextStep">Finished selecting date and time</a>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>