<% content_for :header do %>
    Events
<% end %>

<div class="row">
	<div class="col-md-12">
		<%= link_to "Create Event", :new_admin_event, :class => "button is-letsdine-primary" %>
	</div>
</div>

<%= render partial: 'admin/events/events',  :locals => {:event_list => @event_list} %>

