<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'area',
            },
            title: {
                text: ''
            },
            xAxis: {
                labels: {
                    formatter: function() {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: ''
                },
                labels: {
                    formatter: function() {
                        return this.value / 1000 +'k';
                    }
                }
            },
            tooltip: {
                borderColor: "#fff",
                backgroundColor: "rgba(255,255,255,1)",
                pointFormat: '{series.name}: <b>{point.y:,.0f}</b> signed up in {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: 1940,
                    fillColor: 'rgba(221,65,36,.2)',
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Users',
                color: '#dd4124',
                data: [null, null, null, null, null, 6 , 11, 32, 110, 235, 369, 640,
                    1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                    27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                    26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                    24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                    22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                    10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104 ]
            }]
        });
    });
    

        </script>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Sign ups</h1>
            <div id="container" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Stats</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3 key_stat green">
            Users This month
        </div>
        <div class="span3 key_stat red">
            Attendees this month
        </div>
        <div class="span3 key_stat red">
            Events this month
        </div>
        <div class="span3 key_stat green">
            Revenue this month
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Events</h1>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <ul class="event_list">
                <li>
                    <div class="list-item-container">
                        <div class="notification_status grey ">
                            <i class="icon-envelope-alt"></i>
                        </div>
                        <div class="eventDetails">
                            <a href="#">Event Name</a>
                            <span class="green">Public</span>
                        </div>
                        <a href="#" class="btn btn-large float-right">Send Notifications</a>
                    </div>
                    <div class="event-details-list">
                        <div>
                            <a href="#">25 People Attending</a>
                            <a href="#">Add Actual Attendees</a>
                            <span>Rs. 10,000 Expected Earnings</span>
                            <a href="#">Add Actual Earnings</a>
                        </div>
                    </div>
                    
                </li>

                <li>
                    <div class="list-item-container">
                        <div class="notification_status green">
                            <i class="icon-ok"></i>
                        </div>
                        <div class="eventDetails">
                            <a href="#">Event Name</a>
                            <span class="green">Public</span>
                        </div>
                    </div>
                    
                </li>

                <li>
                    <div class="list-item-container">
                        <div class="notification_status green">
                            <i class="icon-ok"></i>
                        </div>
                        <div class="eventDetails">
                            <a href="#">Event Name</a>
                            <span class="red">Private</span>
                        </div>
                    </div>
                    
                </li>

                <li>
                    <div class="list-item-container">
                        <div class="notification_status grey">
                            <i class="icon-envelope-alt"></i>
                        </div>
                        <div class="eventDetails">
                            <a href="#">Event Name</a>
                            <span class="red">Private</span>
                        </div>
                        <a href="#" class="btn btn-large float-right">Send Notifications</a>
                    </div>
                    
                </li>

            </ul>
        </div>
    </div>
</div>



