<!-- Debug info -- start -->
<div class="container">
    <div class="row">
        <div class="col-md-12" style="background: red;color: white;padding: 10px">
            logged in: {{ loggedIn.user.email }}
        </div>
    </div>
</div>
<!-- Debug info -- end -->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form name="loginForm" class="auth-form" role="form">
                <h2 class="auth-form-heading">Please sign in</h2><br/>

                <div class="alert alert-warning" ng-show="authReason">
                    {{authReason}}
                </div>
                <div class="alert alert-danger" ng-show="authError">
                    {{authError}}
                </div>

                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" placeholder="Email address" id="Email" ng-model="user.email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password" ng-model="user.password" required>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <a class="button is-primary" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Sign in</a>
                <a class="btn btn-link" href="#/users/register">Register</a>
            </form>
        </div>
    </div>
</div>

<a class="btn btn-primary" ng-click="logout()">Logout</a>


