<h1>{{status}}</h1>



<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form name="loginForm" ng-submit="login(user)" class="auth-form" role="form">
                <h2 class="auth-form-heading">Please sign in</h2><br/>

                <div class="alert alert-danger" ng-show="showMessage(message)">
                    {{message}}
                </div>

                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" placeholder="Email address" id="Email" ng-model="user.email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password" ng-model="user.password" required>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button type="submit" class="button is-primary" ng-disabled="loginForm.$invalid">Login</button>
                <a class="btn btn-link" href="#/users/register">Register</a>

            </form>
        </div>
    </div>
</div>



