<div class="group">
	<div class="image">
		<%# image_tag group.group_image %>		
		<h4>800 members</h4>	
		<h4 class="group_category">Food</h4>
	</div>
	
	<div class="group_details">
		<h4><%= link_to group.name, group %></h4>
	</div>
</div>
