<% content_for :header do %>
    New Restaurant
<% end %>

<div class="row">
	<div class="col-md-12">
		<%= render 'form' %>
		<%# link_to 'Back', admin_restaurants_path %>
	</div>
</div>
			

<script>
$(document).ready(function(){
	$('select').selectpicker();
});
  
</script>