<div class="slider">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="gallery">
                        <img src="/assets/sliderImage1.png" class="start">  
                        <img src="/assets/sliderImage1.png">
                        <img src="/assets/sliderImage1.png">    
                    </div>
                </div>
                
            </div>
        </div>
    </div>