<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<% @user_list.each do |city,users| %>
			<h2><%= city %></h2>
				<table class="table table-striped">
					<% users.each do |user| %>
					  	<tr>
					  		<td><%= user.name %></td>
					  		<td><%= user.email %></td>
					  	</tr>
				  	<% end %>
				</table>
				
			<% end %>
		</div>
	</div>
</div>
