<div id="citySelect">
  Select your city
  <i class="icon-angle-down pull-right"></i>
</div>

<div id="cityList">
  <div class="content"> 
    <ul>
      <li>
        <strong>India</strong>
        <ul>
          <li>Ahmedabad</li>
          <li>Bangalore</li>
          <li>Hyderabad</li>
          <li>Pune</li>
        </ul>
      </li>
      <li>
        <strong>Malaysia</strong>
        <ul>
          <li>Kuala Lumpur</li>
          <li>Penang</li>
          <li>Perak</li>
          <li>Selangor</li>
        </ul>
      </li>
    </ul>
  </div>
</div>