/******************************************************************************/
/* Chart styling */
/******************************************************************************/
.canvas {
      width: 100% !important;
      max-width: 1000px;
      height: auto !important;
}
/******************************************************************************/
/* Stats styling */
/******************************************************************************/
.stat
{
	width: 100%; /*SET your width here*/
	margin: 0 auto;
	text-align: center;
	.statTitle
	{
		color: #949FB1;
		text-transform: uppercase;
		font-size: 15px;
		margin-top: 10px;
	}	
}

/******************************************************************************/
/* Chart styling */
/******************************************************************************/

/******************************************************************************/
/* Chart styling */
/******************************************************************************/