{{}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="#/events/new" class="button is-secondary">New Event</a>
            <div class="admin">
                <ul>
                    <li ng-repeat="event in events">
                        <strong><a href="#">{{event.event_name}}</a></strong>
                        <div class="subDetails">
                            <ul>
                                <li>Attendees: 100</li>
                                <li>Total Revenue: Rs 100000</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>