<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="button is-secondary" ng->New Event</a>
            <div class="admin">
                <ul>
                    <li ng-repeat="event in events">
                        <strong><a href="#">{{event.name}}</a></strong>
                        <div class="subDetails">
                            Attendees:
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>