#error_explanation
{
	color: #d10000;
}
.field_with_errors input
{
	border: 1px solid #d10000;	
	background: #ffe2e2;
}
.field_with_errors textarea
{
	border: 1px solid #d10000;	
	background: #ffe2e2;
}
.createEventBtn
{
	margin-top: 10px;
}
.loginDetails
{
	margin-top: 10px;
	font-size: 16px;
	color: #fff;

}
.loginOptions
{
	float: right;
}
.loginDetails a
{
	color: #fff;
}
.login_link
{
	font-weight: bold;
	margin-right: 10px;
}
#sign_up_link a
{
	margin-top: 5px;
}
#sign_up_link a:hover
{
	text-decoration: none;
}
.navbar-inner
{
	background-color: #d3371a;
	background: url("/assets/topBarBG.png");	
	padding: 10px;
	margin-bottom: 0;
	border: none;
}
.masthead
{
	margin-top: 120px;
	background: url("/assets/headerBG.png");
}
.createEventButtonContainer
{
	float: right;
}
.homepage 
{
	list-style: none;
	color: #a1afaf;
	margin-top: 20px;
	margin-left: -20px;
	margin-bottom: 10px;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
}
.headerImage-red
{
	background: url(/assets/eventIcon.png) no-repeat center center;
	background-color: rgba(221,65,36,.5);
	min-height: 110px;
	min-width: 110px;

}
.headerImage-blue
{
	background: url(/assets/joinEvent.png) no-repeat center center;
	background-color: rgba(27,110,138,.5);
	min-height: 110px;
	min-width: 110px;

}
.headerImage-green
{
	background: url(/assets/shareEvent.png) no-repeat center center;
	background-color: rgba(131,202,33,.5);
	min-height: 110px;
	min-width: 110px;

}
.homepage li 
{
	display: inline;
	margin-right: 20px;
	font-weight: bold;
}
.homepage li a
{
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
	text-decoration: none;

	/* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;

}
.homepage li a:visited
{
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
}
.homepage li a:visited
{
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
}
.homepage li a:hover
{
	color: #080809;	
	text-shadow: 0px 1px 2px #404046;
}

.homepage li a.selected
{
	color: #080809;	
	text-shadow: 0px 1px 2px #404046;
}

.topNav 
{
	list-style: none;
	margin-top: 20px;
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
}
.topNav li 
{
	display: inline;
	margin-right: 20px;
	font-weight: bold;
}
.topNav li a
{
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
	text-decoration: none;

	/* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;

}
.topNav li a:visited
{
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
}
.topNav li a:visited
{
	color: #a1afaf;
	font-size: 18px;
	text-shadow: 0px 0px 1px #647575;
}
.topNav li a:hover
{
	color: #080809;	
	text-shadow: 0px 1px 2px #404046;
}

.topNav li a.selected
{
	color: #080809;	
	text-shadow: 0px 1px 2px #404046;
}
.locationpicker
{
	margin-top: 10px;
}
.slider
{
	margin-top: -170px;

}
.slider img
{
	position: relative;
	left: 20px;
	right: 20px;
	
}
.slider img .currentSliderImage
{

}
.gallery
{
	height: 400px;
	width: 100%;
}

.content
{
	
}

.event {
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 3px; }

.event::before,
.event::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 2px;
  right: 2px;
  top: 0;
  z-index: -1;
  background: #fff;
  border: 1px solid #cccccc; }

.event::after {
  left: 4px;
  right: 4px;
  bottom: -5px;
  z-index: -2;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.3); }

.event img
{
	position: relative;
}
.closed 
{
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	background: rgba(0,0,0,.8);
}
.closed h3
{
	vertical-align: middle;
	text-align: center;
	color: #fff;
	padding-top: 20px;
}
.event h3
{
	/*color: #dd4124;*/
}
.event p
{
	margin-top: 10px;
}

.detail
{
	color: #ccc;
	margin-bottom: 5px;
}
.footer
{
	background: url("/assets/topBarBG.png");	
	margin-top: 20px;
}


.peopleAttending
{
	margin-top: 20px;
}
.eventHeader
{
	height: 400px;
}
.eventImage
{
	border: 6px solid #000;
}
.eventDetailsImage {
  width: 90%;
  height: auto;
  margin: 10px auto 10px -5px;
  padding: 20px;
  position: relative;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 3px; }

.eventDetailsImage::before,
.eventDetailsImage::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 2px;
  right: 2px;
  top: 0;
  z-index: -1;
  background: #fff;
  border: 1px solid #cccccc; }

.eventDetailsImage::after {
  left: 4px;
  right: 4px;
  bottom: -5px;
  z-index: -2;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.3); }

  .eventDetailsText
  {
  	margin-top: 10px;
  	
  }

.eventDetailsImage img
{
	position: relative;
}
.event_date_time
{
	padding: 10px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-weight: bold;
	font-size: 21px;
}

.restaurantList
{
	
}
.restaurantList ul
{
	list-style: none;
	margin: 0;
}
.restaurantList ul li img
{
	float: left;
	margin-right: 10px;
}
.restaurantDetailsCotaniner
{
	float: left;
	padding: 10px;
}
.restaurantDetailsCotaniner:hover
{
	background: #cceaff;
	cursor: pointer;
}
.selectedRestaurant
{
	background: #cceaff;
	cursor: pointer;
}
.restaurantDetailsCotaniner img
{
	float: left;
	margin-right: 10px;
}
.restaurantDetailsCotaniner div
{
	float: left;
}
.restaurantList ul li
{
	clear: both;
	padding: 10px 0;
	
}
.restaurantList ul li a
{
	padding: 10px;
}
.restaurantList ul h4
{
	margin-top: 0;
}
.restaurantMenu
{
	
}
.restaurantMenu ul
{
	list-style: none;
	margin: 0;
}
.restaurantMenu ul li
{
	margin-bottom: 5px;
}
.restaurantMenu h3
{
	margin: 0;
}
.restaurantDetailsContainer
{
	margin-bottom: 10px;
}

  /* Buttons */
.awesome, .awesome:visited {
	background: #222 url(alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
	.red.awesome:hover							{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }

.login {
  width: 45%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 3px; }

.login::before,
.login::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 2px;
  right: 2px;
  top: 0;
  z-index: -1;
  background: #fff;
  border: 1px solid #cccccc; }

.login::after {
  left: 4px;
  right: 4px;
  bottom: -5px;
  z-index: -2;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.3); }

.zoomflow
{
	margin-top: -200px;
}
.share_on_facebook
{
	margin-bottom: 10px;
}
.tagline-container
{

}
.tagline
{
	margin-top: 10px;
	color: #fff;
}
.event_type_radio
{
	margin-top: 10px;
}
.event_radio
{
	float: left;
}
.event_radio_label
{
	float: left;
	margin: 0 10px 0 5px;
}
.total_attendees
{
	padding: 10px;
	background: #ccc;	
}
.total_attendees_highlight
{
	background: #d3371a;
	color: #fff;
	border: 1px solid #972713;
	padding: 20px;
}
/********************************************************************************/
/* Group Styling */
/********************************************************************************/
.new_group_button_container
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	margin-bottom: 20px;
}
.group_body
{
	background: url('/assets/groupsBG.png');
}
.group-row
{
	margin-bottom: 10px;
}
.group
{
	background: #fff;
}
.group .image
{
	position: relative;
	width: 100%
}
.group .image h4
{
	position: absolute; 
	top: 10px; 
	left: 10px; 
	padding: 10px;
	background: rgba(0,0,0,.6);
	color: #fff;

	text-shadow:0px 2px 2px #333333
}
.group .image h4.group_category
{
	position: absolute; 
	top: 80%; 
	left: 10px; 
	padding: 10px;
	background: rgba(0,0,0,.6);
	color: #fff;

	text-shadow:0px 2px 2px #333333
} 
.groups_filter ul
{
	list-style: none;
	margin: 0;
}
.groups_filter ul li
{
	margin-bottom: 10px;
	padding: 10px;
}
.groups_filter ul li:hover
{
	background: url("/assets/headerBG.png");
	color: #fff;
	cursor: pointer;

}
.groups_filter ul li a:hover
{
	text-decoration: none;
}
.group_details
{
	padding: 10px;
}
.group-sub-menu
{
	margin: 0;
	padding: 10px;
	background: #fff;
	list-style: none;
	
}
.group-sub-menu li
{
	display: inline;
	margin-right: 20px;
	padding: 12px;
}
.group-sub-menu li:hover
{
	background: url("/assets/headerBG.png");
	color: #fff;
	cursor: pointer;
}
.discussion-list
{
	background: #fff;
	padding: 10px;
	margin-top: 20px;
}
.discussion-list ul
{
	list-style: none;
	margin: 0 0 30px 0;
}
.discussion-list ul li
{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 20px;
}
.discussion-list img
{
	float: left;
	
}
.discussion-list .comment
{
	margin-left: 50px;
}
.seats_left_container
{
	margin: 30px 0;
}
.seats_left
{
	background: #dd4124;
	display: inline;
	padding: 20px;
	font-size: 21px;
	color: #fff;
	font-weight: bold;
}
