/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #ebebe3;
$brand_blue_toned_down: #cad4d5;
/************************************************************************/
/* Common styles */
/************************************************************************/
a
{
  color: $brand_blue;
}
/************************************************************************/
/*Body styles */
/************************************************************************/
body
{
  background: $brand_off_white;
}
h1, h2, h3, h4
{
  font-family: "adelle";
}
/************************************************************************/
/* Top bar styles */
/************************************************************************/
.topBar
{
  margin: 20px 0;
  .logo
  {
    margin-top: 5px;
  }
}
/************************************************************************/
/* Top nav styles */
/************************************************************************/
.topNav
{
  background: white;
  ul
  {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    li
    {
      display: inline;
      font-weight: bold;
      margin-right: 30px;
    }
  }
}
/************************************************************************/
/* Slider styles */
/************************************************************************/
.slider
{
  .full-width
  {
    overflow:hidden;
    position:relative;
    background:#fff;

    img{height:200px;width:auto;}
    img{height:auto;width:100%;}


  }
}
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
.favouriteExperiences
{
  text-align: center;
  margin-top: 80px;
}
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
.favouriteItem
{
  background: white;
  padding: 10px;
  border: 1px solid #d6d6c5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;

  /* Item box shadow */
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);

  .hostPic
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border: 6px solid white;
  }
}
/************************************************************************/
/* Homepage host profile sale styles */
/************************************************************************/
.experienceSample
{
  background: white;
  margin-top: 100px;
  padding-bottom: 40px;
  img
  {
    width: 100%;
  }
  .keyHostSale
  {

    img
    {
      width: 100px;
      height: 100px;

      display: block;
      margin-left: auto;
      margin-right: auto;

      margin-top: -50px;
      border: 6px solid white;
    }
    h2
    {
      text-align: center;
      font-style: italic;
    }
    h4
    {
      text-align: center;
    }
  }
}
/************************************************************************/
/* Sell styles */
/************************************************************************/
.sell
{
  background: $brand_blue_toned_down;
  padding: 20px 0;
}
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/


