/**********************************************************************/
/* Color Scheme */
/**********************************************************************/
$brand_color: #dd4124;
$filter_background_color: #A6733E;
$brand_color_80_trasparent: rgba(221,65,36,.8);
$black_80_transparent: rgba(0,0,0,.8);
/**********************************************************************/
/* Common styles */
/**********************************************************************/
#error_explanation
{
	color: #d10000;
}
.field_with_errors input
{
	border: 1px solid #d10000;	
	background: #ffe2e2;
}
.field_with_errors textarea
{
	border: 1px solid #d10000;	
	background: #ffe2e2;
}
.createEventBtn
{
	margin-top: 10px;
}
.special
{
	background-color: #292929;
}
.white_background
{
	background: #fff;
}
a
{
	color: #1b6e8a;
}
.topMargin
{
	margin-top: 20px;
}
.bottomMargin
{
	margin-bottom: 40px;
}
/**********************************************************************/
/* Body Styling */
/**********************************************************************/
body
{
	background: url("/assets/background.png");
}
/**********************************************************************/
/* Topbar style */
/**********************************************************************/
.topBar
{
	margin-top: 10px;
	.topBarLogin
	{
		
		span
		{
			float: left;
			margin-top: 10px;
			margin-right: 10px;
		}
		a
		{
			display: inline-block;
			text-transform: uppercase;
		}
	}
}
/**********************************************************************/
/* Header style */
/**********************************************************************/
.headerLogo
{
	text-align: center;
	h3
	{
		margin: 20px 0 0 0;
	}
	.homepageSignup
	{
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		img
		{
			padding-bottom: 5px;
		}
	}
}
/**********************************************************************/
/* Filter style */
/**********************************************************************/
.filter
{
	background: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	span
	{
		font-size: 15px;
		font-weight: bold;
		display: inline-block;
	}
}
/**********************************************************************/
/* Event List Item Style */
/**********************************************************************/
.event
{
	img
	{
		-moz-border-radius: 0px;
		-webkit-border-radius: 6px 6px 0px 0px;
		border-radius: 6px 6px 0px 0px; 
	}
	h4
	{
		padding: 0 10px;
	}
	p
	{
		padding: 0 10px 10px 10px;
	}
}

.eventListContainer
{
	position:relative;
	.seatsLeft
	{
		position: absolute;
		top: 15px;
		left: 0px;
		background: $brand_color_80_trasparent;
		padding: 10px;
		color: white;

	}
}
.eventDetails
{
	padding: 10px;
	.detail
	{
		color: #000;
		font-weight: bold;
		.map-icon
		{
			margin-left: 2px;
			margin-right: 3px;
		}
	}
}
/**********************************************************************/
/* Login style */
/**********************************************************************/
.loginDetails
{
	margin-top: 10px;
	font-size: 16px;
	color: #fff;

}
.loginOptions
{
	float: right;
}
.loginDetails a
{
	color: #fff;
}
.login_link
{
	font-weight: bold;
	margin-right: 10px;
}
#sign_up_link a
{
	margin-top: 5px;
}
#sign_up_link a:hover
{
	text-decoration: none;
}
/**********************************************************************/
/* TBD */
/**********************************************************************/
.detail
{
	color: #ccc;
	margin-bottom: 5px;
}
.footer
{
	background: url("/assets/topBarBG.png");	
	margin-top: 20px;
}

/**********************************************************************/
/* TBD */
/**********************************************************************/
.restaurantList
{
	
}
.restaurantList ul
{
	list-style: none;
	margin: 0;
}
.restaurantList ul li img
{
	float: left;
	margin-right: 10px;
}
.restaurantDetailsCotaniner
{
	float: left;
	padding: 10px;
}
.restaurantDetailsCotaniner:hover
{
	background: #cceaff;
	cursor: pointer;
}
.selectedRestaurant
{
	background: #cceaff;
	cursor: pointer;
}
.restaurantDetailsCotaniner img
{
	float: left;
	margin-right: 10px;
}
.restaurantDetailsCotaniner div
{
	float: left;
}
.restaurantList ul li
{
	clear: both;
	padding: 10px 0;
	
}
.restaurantList ul li a
{
	padding: 10px;
}
.restaurantList ul h4
{
	margin-top: 0;
}
.restaurantMenu
{
	
}
.restaurantMenu ul
{
	list-style: none;
	margin: 0;
}
.restaurantMenu ul li
{
	margin-bottom: 5px;
}
.restaurantMenu h3
{
	margin: 0;
}
.restaurantDetailsContainer
{
	margin-bottom: 10px;
}

 /**********************************************************************/
/* TBD */
/**********************************************************************/
#interests_select
{
	margin-bottom: 10px;
}
.zoomflow
{
	margin-top: -200px;
}
.share_on_facebook
{
	margin-bottom: 10px;
}

.event_type_radio
{
	margin-top: 10px;
}
.event_radio
{
	float: left;
}
.event_radio_label
{
	float: left;
	margin: 0 10px 0 5px;
}
.total_attendees
{
	padding: 10px;
	background: #ccc;	
}
.total_attendees_highlight
{
	background: #d3371a;
	color: #fff;
	border: 1px solid #972713;
	padding: 20px;
}
/********************************************************************************/
/* Map Styling */
/********************************************************************************/


/**********************************************************************/
/* Profile style */
/**********************************************************************/
.profile_header_image
{
	border: 15px solid #fff;
	margin-bottom: 20px;

	/* Box shadow*/
	box-shadow: 0 0 8px #888888;
	-moz-box-shadow: 0 0 8px #888888;
	-webkit-box-shadow: 0 0 8px #888888;
}
.profile_picture
{
	margin-top: -130px;
	margin-left: 20px;
	border: 9px solid #fff;


	/* Making the image circular */
	width: 100%px;
	height: 100%px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;

	/* Box shadow*/
	box-shadow: 0 0 8px #888888;
	-moz-box-shadow: 0 0 8px #888888;
	-webkit-box-shadow: 0 0 8px #888888;	

}
.event_attending
{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.event_attending h4
{
	padding: 10px;
}
.other_people_attending
{

	border-top: 1px solid #ccc;
	background: #eee;
	padding: 10px;
}
/**********************************************************************/