/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
/************************************************************************/
/* Common styles */
/************************************************************************/
a {
  color: #00a9d4; }

/************************************************************************/
/*Body styles */
/************************************************************************/
body {
  background: #ebebe3; }

h1, h2, h3, h4 {
  font-family: "adelle"; }

/************************************************************************/
/* Top bar styles */
/************************************************************************/
.topBar {
  margin: 20px 0; }
  .topBar .logo {
    margin-top: 5px; }

/************************************************************************/
/* Top nav styles */
/************************************************************************/
.topNav {
  background: white; }
  .topNav ul {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0; }
    .topNav ul li {
      display: inline;
      font-weight: bold;
      margin-right: 30px; }

/************************************************************************/
/* Slider styles */
/************************************************************************/
.slider .full-width {
  overflow: hidden;
  position: relative;
  background: #fff; }
  .slider .full-width img {
    height: 200px;
    width: auto; }
  .slider .full-width img {
    height: auto;
    width: 100%; }

/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
.favouriteExperiences {
  text-align: center;
  margin-top: 80px; }

/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
.favouriteItem {
  background: white;
  padding: 10px;
  border: 1px solid #d6d6c5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  /* Item box shadow */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1); }
  .favouriteItem .hostPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border: 6px solid white; }

/************************************************************************/
/* Homepage host profile sale styles */
/************************************************************************/
.experienceSample {
  background: white;
  margin-top: 100px;
  padding-bottom: 40px; }
  .experienceSample img {
    width: 100%; }
  .experienceSample .keyHostSale img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border: 6px solid white; }
  .experienceSample .keyHostSale h2 {
    text-align: center;
    font-style: italic; }
  .experienceSample .keyHostSale h4 {
    text-align: center; }

/************************************************************************/
/* Sell styles */
/************************************************************************/
.sell {
  background: #cad4d5;
  padding: 20px 0; }

/************************************************************************/
/* Login and register form styles */
/************************************************************************/
.auth-form {
  background: white;
  padding: 20px;
  margin: 20px 0; }

/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
