/*******************************************************************/
/* Common Styles */
/*******************************************************************/
$brand_color: #DD4124;
$topBar_color: #333;
$contrast_blue: #1b6e8a;
$brand_color_80_percent: rgba(221, 65, 36, .8);
/* Link Styles */
a
{
	color: $contrast_blue;
}
/*******************************************************************/
/* Body Styles */
/*******************************************************************/
body
{
	//font-family: 'Lato', sans-serif;
	font-family: "nimbus-sans",sans-serif;
	font-size: 16px;
	//font-weight: 400;
	background: #f4f4f4;
	color: #333;
}
/*******************************************************************/
/* Top Bar Styles */
/*******************************************************************/
.topBar
{
	background: $topBar_color;
	.logo
	{
		margin-top: 5px;
	}
	.topBarText
	{
		color: white;
		font-size: 33px;
		font-family: "museo-slab",serif;
		font-weight: 100;
		text-align: center;
		-webkit-transform: rotate(-0.0000000001deg);
		text-shadow: 0 0 1px rgba(51,51,51,0.2);
		.topBarTextHighlight
		{
			font-weight: 900;
			letter-spacing: 1px;
		}
	}
	.topBarButtons
	{
		margin: 20px 0 30px 0;
		text-align: center;
		.facebookLoginButton
		{
			padding: 20px 10px 10px 10px;
			margin-right: 20px;
			display: inline;
			text-transform: uppercase;
			img
			{
				margin-left: 5px;
				margin-bottom: 10px;
			}
		}
	}
}
/*******************************************************************/
/* Naigation Styles */
/*******************************************************************/
.topNav
{
	list-style: none;
	color: white;
	margin: 15px 0 0 0;
	padding: 0;
	li
	{
		display: inline;
		margin-left: 15px;

	}
	li.selected
	{
		color: $brand_color;
	}
}
.loginButton
{
	margin: 10px;
}
/*******************************************************************/
/* Common Styles */
/*******************************************************************/
.filter
{
	background: white;
	padding: 10px 0;
	margin-bottom: 10px;
}
/*******************************************************************/
/* Event List Styles */
/*******************************************************************/
.eventListingItem
{
	-webkit-box-shadow: 1px 0px 10px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 0px 10px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 0px 10px rgba(50, 50, 50, 0.2);
	-moz-border-radius: 0px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; 
}
.imageWithOverlay
{
	position: relative;
	img
	{
		-moz-border-radius: 0px;
		-webkit-border-radius: 6px 6px 0px 0px;
		border-radius: 6px 6px 0px 0px; 
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	.eventDate
	{
		position: absolute;
		top: 82%;
		left: 0;
		background: rgba(0,0,0,.5);
		color: white;
		display: inline;
		padding: 10px;
		width: 100%;
		-webkit-box-shadow: 0px -5px 10px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    0px -5px 10px rgba(50, 50, 50, 0.5);
		box-shadow:         0px -5px 10px rgba(50, 50, 50, 0.5);
		span
		{
			font-weight: bold;
		}
	}
	.seatsLeft
	{
		position: absolute;
		top: 10px;
		left: 0;
		background: $brand_color_80_percent;
		padding: 10px;
		color: white;
		font-weight: bold;
	}
}
.eventListingContent
{
	background: white;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	h4	
	{
		margin-top: 0;
		padding-top: 0;
	}
	span
	{
		font-weight: bold;
		margin-bottom: 10px;
		display: block;
	}
}
/*******************************************************************/
/* Event Page Styles */
/*******************************************************************/
.eventPage
{
	background: white;
	margin-top: 40px;
	padding: 40px;
	-webkit-box-shadow: 1px 0px 10px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 0px 10px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 0px 10px rgba(50, 50, 50, 0.2);
	-moz-border-radius: 0px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; 	
	h3
	{
		font-weight: bold;
	}
	.menuItemsHeader
	{
		display: block;
		margin-top: 10px;
	}

	.menuItemExplanation
	{
		font-style: italic;
		margin: 5px 0;
		padding: 0;
	}
	.menuItems
	{
		margin: 0 0 0 20px;
		padding: 0;
	}
}
.eventPageContent
{
	background: white;
	.eventDescription
	{
		p
		{
			margin-top: 10px;
			font-style: italic;	
		}
		
	}
}
.joinEvent
{
	background: white;
	margin-top: 40px;
	padding: 20px;
	-webkit-box-shadow: 1px 0px 10px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 0px 10px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 0px 10px rgba(50, 50, 50, 0.2);
	.full_width
	{
		width: 100%;
		padding: 15px 10px 25px 10px;
	}
	.peopleAttending
	{
		i
		{
			font-size: 50px;
		}
	}
}
/*******************************************************************/
/* Footer Styles */
/*******************************************************************/
.footer
{
	background: #333;
	color: #fff;
	padding: 10px 0;
	margin-top: 10px;
}
/*******************************************************************/
/* Common Styles */
/*******************************************************************/